@import url(https://fonts.googleapis.com/css?family=Work+Sans:300,400,600);
@import url(https://fonts.googleapis.com/css?family=Fira+Sans:300,300i,400,400i,500,500i,700,700i);
@import url(https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:200,300,400,700);
@import url(https://cdn.rawgit.com/tonsky/FiraCode/1.204/distr/fira_code.css);

/* Variables */
/*https://www.colourlovers.com/palette/2304287/Black_and_white_tea*/
/*https://www.colourlovers.com/palette/557539/vivacious*/

/* Donosti y Aulaga */
:root {
    --primary-color: #3f51b5;
    --primary-color-lighter:   #757de8;
    --primary-color-lightest: #aab6fe;
    --primary-color-darker:   #002984;
    --primary-color-darkest: #001970;
    --secondary-color:        #cddc39;
    --secondary-color-lighter:   #ffff72;
    --secondary-color-lightest: #ffffa8;
    --secondary-color-darker:#c8b900;
    --secondary-color-darkest:#c49000;
    --text1: #FFFFFF;
    --text2: #212121;
    --text3: #757575;
    --dividercolor: #BDBDBD;

    --granada: #f44336;
    --lady: #e91e63;
    --bette: #9c27b0;
    --night: #673ab7;
    --donosti: #3f51b5;
    --sea: #2196f3;
    --sky: #03a9f4;
    --paradise: #00bcd4;
    --persian: #009688;
    --fruit: #4caf50;
    --sushi: #8bc34a;
    --pear: #cddc39;
    --aulaga: #ffeb3b;
    --beer: #ffc107;
    --peel: #ff9800;
    --telecom: #ff5722;
  }


  .granada-lightest {background-color: #ffa4a2}
  .granada-lighter {background-color: #ff7961}
  .granada {background-color: var(--granada)}
  .granada-darker {background-color: #ba000d}
  .granada-darkest {background-color: #9a0007}
  
  .lady-lightest {background-color: #ff94c2}
  .lady-lighter {background-color: #ff6090}
  .lady {background-color: var(--lady)}
  .lady-darker {background-color: #b0003a}
  .lady-darkest {background-color: #8c0032}
  
  .bette-lightest {background-color: #ee98fb}
  .bette-lighter {background-color: #d05ce3}
  .bette {background-color: var(--bette)}
  .bette-darker {background-color: #6a0080}
  .bette-darkest {background-color: #4a0072}
    
  .night-lightest {background-color: #c7a4ff}
  .night-lighter {background-color: #9a67ea}
  .night {background-color: var(--night)}
  .night-darker {background-color: #320b86}
  .night-darkest {background-color: #140078}

  .donosti-lightest {background-color: #aab6fe}
  .donosti-lighter {background-color: #757de8}
  .donosti{background-color: var(--donosti)}
  .donosti-darker {background-color: #002984}
  .donosti-darkest {background-color: #001970}
   
  .sea-lightest {background-color: #9be7ff}
  .sea-lighter {background-color: #6ec6ff}
  .sea{background-color: var(--sea)}
  .sea-darker {background-color: #0069c0}
  .sea-darkest {background-color: #004ba0}

  .sky-lightest {background-color: #8bf6ff}
  .sky-lighter {background-color: #67daff}
  .sky{background-color: var(--sky)}
  .sky-darker {background-color: #007ac1}
  .sky-darkest {background-color: #005b9f}

  .paradise-lightest {background-color: #88ffff}
  .paradise-lighter {background-color: #62efff}
  .paradise{background-color: var(--paradise)}
  .paradise-darker {background-color: #008ba3}
  .paradise-darkest {background-color: #006978}

  .persian-lightest {background-color: #82e9de}
  .persian-lighter {background-color: #52c7b8}
  .persian{background-color: var(--persian)}
  .persian-darker {background-color: #00675b}
  .persian-darkest {background-color: #004c40}

  .fruit-lightest {background-color: #b2fab4}
  .fruit-lighter {background-color: #80e27e}
  .fruit{background-color: var(--fruit)}
  .fruit-darker {background-color: #087f23}
  .fruit-darkest {background-color: #00600f}
 
  .sushi-lightest {background-color: #e1ffb1}
  .sushi-lighter {background-color: #bef67a}
  .sushi {background-color: var(--sushi)}
  .sushi-darker {background-color: #5a9216}
  .sushi-darkest {background-color: #387002}

  .pear-lightest {background-color: #ffffa6}
  .pear-lighter {background-color: #ffff6e}
  .pear{background-color: var(--pear)}
  .pear-darker {background-color: #99aa00}
  .pear-darkest {background-color: #7c8500}

  .aulaga-lightest {background-color: #ffffa8}
  .aulaga-lighter {background-color: #ffff72}
  .aulaga{background-color: var(--aulaga)}
  .aulaga-darker {background-color: #c8b900}
  .aulaga-darkest {background-color: #c49000}

  .beer-lightest {background-color: #ffff81}
  .beer-lighter {background-color: #fff350}
  .beer {background-color: var(--beer)}
  .beer-darker {background-color: #c79100}
  .beer-darkest {background-color: #c67100}
 
  .peel-lightest {background-color: #ffe97d}
  .peel-lighter {background-color: #ffc947}
  .peel{background-color: var(--peel)}
  .peel-darker {background-color: #c66900}
  .peel-darkest {background-color: #bb4d00}

  .telecom-lightest {background-color: #ffbb93}
  .telecom-lighter {background-color: #ff8a50}
  .telecom {background-color: var(--telecom)}
  .telecom-darker {background-color: #c41c00}
  .telecom-darkest {background-color: #ac0800}


/* GENERAL STYLES*/

/* General fonts*/ 

body {
        font-family:  'Work Sans', 'Fira Sans','Droid Serif','Open Sans';
        color: var(--text2);
        font-size: 20px;
        font-weight: 400;       
        text-align: left;
        margin-bottom:50px;
}


/* Font styles */

#fonts {
    border: 1px solid var(--dividercolor);
    margin: 5px;
    padding:20px;
    width: 100%;

} 

.type-of-font {
    display: inline-block;
    padding: 10px;
    margin: 40px;
}

.title {
    font-family: 'Yanone Kaffeesatz', sans-serif;
}

.paragraph {

    font-family: 'Work Sans', 'Fira Sans', sans-serif;
}

.light{
    font-weight: 300;
}

.bold{
    font-weight: 600;
}

.code, .inline-code {
    font-family: 'Fira Code', 'Lucida Console', Monaco, monospace;
    font-size: 80%;
  }
  

/*Text Styles*/

#textstyles {
    border: 1px solid var(--dividercolor);
    text-align: left;
    padding: 10px;
    margin: 5px;
    width: 100%;
}

h1, h2, h3, h4 {
    font-family: 'Yanone Kaffeesatz';
}

h1 {
    font-size: 3em;
    font-weight: 400;
    width: 100%;
    background-color: var(--primary-color);
    color: var(--text1);
    padding: 0.25em;
}

h2 {
    font-size: 2em; 
    font-weight: 400;
}

h3 {
    font-size: 2em;
    font-weight: 200;

}

h4 {
    font-size: 1.5em;
    font-weight: 700;

}

p {
    font-family: 'Work Sans', 'Fira Sans';
    line-height: 1.4em;
    font-size: 20px;
    font-weight: 400;       
}

p.lessimp {
  color: var(--text3)  
}

.accent {
  color: var(--primary-color-lighter)
}

.inverso {
    width: 90%;
    background-color: var(--primary-color);
    color: var(--text1);
    padding: 0.25em;
}

/*Other*/

#other{
    border: 1px solid var(--dividercolor);
    text-align: center;
    padding: 10px;
    margin: 5px;  
    width:100%;
}
/* Tables */

table {
    width:100%;
    border-collapse: collapse;
}

th {
    background-color: var(--primary-color-lighter);
    color: var(--text1);
  }

td {
    border: 1px solid var(--dividercolor);
    text-align: left;
    padding: 8px;
  }

th {
    text-align: left;
    padding: 8px;
  }  

tr:nth-child(even) {
    background-color: #dddddd;
  }
tr:nth-child(even):hover {
    background-color: var(--primary-color-lightest);
  }
tr:hover { 
    background-color: var(--primary-color-lightest);
  }  


  /* Links */

a {
    color: var(--secondary-color-darkest);
}
a:visited {
    color: var(--secondary-color-darker);
  }
a:hover {
    color: var(--secondary-color-lighter);
  }  

.btn {
    position: relative;
    display: block;
    margin: 30px auto;
    padding: 0;
    overflow: hidden;
    border-width: 0;
    outline: none;
    border-radius: 2px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, .6);
    background-color: var(--secondary-color);
    color: #ecf0f1;
    transition: background-color .3s;
  }
 
.btn:hover, .btn:focus {
    background-color: var(--secondary-color-darker);
    box-shadow: 0 3px 6px rgba(0, 0, 0, .6);
  }
  
.btn > * {
    position: relative;
  }
  
.btn:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    width: 0;
    padding-top: 0; 
    border-radius: 100%;
    background-color: rgba(236, 240, 241, .3);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
  
.btn:active:before {
    width: 120%;
    padding-top: 120%;
    transition: width .2s ease-out, padding-top .2s ease-out;
  }

span.buttoninner {
    display: block;
    padding: 6px 12px;
    color: var(--text1);
    text-decoration: none;
    font-family: 'Work Sans', 'Fira Sans';
    font-size: 20px;
    font-weight: 400; 
}

.buttoninner a {
  text-decoration: none;
}
.buttoninner a:visited {
  text-decoration: none;
}
.buttoninner a:hover {
  text-decoration: none;
}  

.btnprimary {
    background-color: var(--primary-color);
  }
  
.btnprimary:hover, .btn.primary:focus {
    background-color: var(--primary-color-darker);
  }
  
.btnprimary span.buttoninner {
    display: block;
    padding: 6px 12px;
    color: var(--text1);
    text-decoration: none;
    font-family: 'Work Sans', 'Fira Sans';
    font-size: 20px;
    font-weight: 400; 
}


 /* Colors definitions */ 

.colors_text {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  border: 1px solid var(--dividercolor);
  width: 100%;
  margin: 5px;
  } 
  
.colors_text div {
  margin: 5px;
  padding: 10px;
  min-width: 200px;
  }
  
.colors_text .border {
      border: 1px solid var(--dividercolor);   
  }



.colors_text a {
  color: var(--text2);
  text-decoration: none;
}
.alt{
  color: var(--text1)
}
.colors_text  a.alt {
  color: var(--text1)
}
#colors_palette {
  display: inline-flex;
  flex-direction: row;
  justify-content: space-evenly;
  border: 1px solid var(--dividercolor);
  width: 100%;
  margin: 5px;
} 

#colors_palette div {
  margin: 10px;
  padding: 25px;
  min-width: 100px;
}
